<ion-header translucent="true">
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Estudiante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="gradient-bg">
  <div class="detalle-container">
    <ion-avatar class="avatar-grande">
      <img [src]="alumno?.foto?.url || 'assets/img/default-avatar.png'" />
    </ion-avatar>
    <h2>{{ alumno?.nombre }}</h2>
    <p>Persona autorizada:</p>
    <ion-avatar class="avatar-mediano">
      <img [src]="alumno?.persona_autorizada?.foto?.url || 'assets/img/default-avatar.png'" />
    </ion-avatar>
    <h3>{{ alumno?.persona_autorizada?.nombre }}</h3>
    <p>Cel: {{ alumno?.persona_autorizada?.telefono }}</p>

    <ion-button expand="block" [color]="confirmado ? 'secondary' : 'primary'" (click)="confirmar()">
      {{ confirmado ? 'Confirmado' : 'Confirmar' }}
    </ion-button>
  </div>
</ion-content>
