<ion-header>
  <ion-toolbar>
    <ion-title>Estudiantes</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        Cerrar sesión
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding estudiantes-background">
  <ion-list lines="none">
    <ion-item *ngFor="let alumno of alumnos">
      <ion-avatar slot="start">
        <img
          *ngIf="alumno.foto && alumno.foto[0]?.url"
          [src]="'http://localhost:1337' + alumno.foto[0].url"
          alt="Foto alumno"
        />
        <ion-icon *ngIf="!alumno.foto || !alumno.foto[0]?.url" name="person-circle-outline"></ion-icon>
      </ion-avatar>

      <ion-label>
        <h2>{{ alumno.nombre }} {{ alumno.apellido }}</h2>
        <ion-chip [color]="alumno.Estatus ? 'success' : 'danger'">
          {{ alumno.Estatus ? 'Activo' : 'Inactivo' }}
        </ion-chip>
      </ion-label>

      <div class="item-buttons">
        <ion-button
          fill="clear"
          (click)="confirmarLlegada(alumno)"
          [disabled]="isConfirmationDisabled(alumno.documentId)">
          Confirmar
        </ion-button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar class="footer-toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="irHistorial()">
        <ion-icon name="book-outline" slot="start"></ion-icon>
        Historial general
      </ion-button>
      <ion-button routerLink="/alumnos-docente">
        <ion-icon name="people-outline" slot="start"></ion-icon>
        Mis Alumnos
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>