<ion-header>
  <ion-toolbar  style="--background: black;">
    <ion-title>Historial de Llegadas</ion-title>
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="historial-background">
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="filterHistorial()" placeholder="Buscar por nombre"></ion-searchbar>

  <ion-list *ngIf="!isLoading && filteredHistorial.length > 0">
    <ion-item *ngFor="let item of filteredHistorial">
      <ion-label>
        <h2>Alumno: {{ getNombre(alumnosMap, item.alumno?.documentId) }}</h2>
        <p><strong>Hora Llegada:</strong> {{ item.horaLlegada | date:'MMM d, y, h:mm a' : ''}}</p>
        <p><strong>Hora Entrega:</strong> {{ item.horaEntrega | date:'MMM d, y, h:mm a' : ''}}</p>
        <p><strong>Docente:</strong> {{ getNombre(docentesMap, item.docente?.documentId) }}</p>
        <p><strong>Persona Autorizada:</strong> {{ getNombre(personasAutorizadasMap, item.persona_autorizada?.documentId) }}</p>
        <p><strong>Estado:</strong> {{ item.estado }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-item *ngIf="!isLoading && filteredHistorial.length === 0" class="ion-text-center no-results">
    <ion-label>
      <p>No se encontraron resultados para "{{ searchTerm }}".</p>
    </ion-label>
  </ion-item>
</ion-content>