<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cambiar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding password-background">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Se requiere un cambio de contraseña</ion-card-title>
      <ion-card-subtitle>Por favor, crea una nueva contraseña segura para continuar.</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-item lines="none">
        <ion-label position="floating">Nueva Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="nuevaPassword"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="floating">Confirmar Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="confirmarPassword"></ion-input>
      </ion-item>

      <ion-button expand="block" class="ion-margin-top" (click)="cambiarPassword()">
        Cambiar Contraseña
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>